.cards {
    display: grid;
    width: auto;
    margin: 0;
    padding: 70px 0px 10px 0px;
    list-style-type: none;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 282px);
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 37px 24px;
  }
  @media screen and (max-width: 1024px) {
    .cards {
      grid-template-columns: 1fr 1fr;
      gap: 35px 24px;
    }
  }
  


  @media screen and (max-width: 768px) {
    .cards {
      grid-template-columns: repeat(auto-fill, 339px);
      gap: 35px 24px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .cards {
      grid-template-columns: repeat(auto-fill, 300px);
      row-gap: 13px;
      padding-top: 36px;
    }
  }